.container {
  margin: 20px;
}

.row {
  padding: 50px;
}

.index-page {
  background-color: rgb(30, 30, 30);
  color: white;
}

.game-page {
  background-color: whitesmoke;
}

/* .end-page {
  background-color: black;

.end-page {
  background-color: rgb(30, 30, 30);

  color: white;
} */

.game-page {
  background-color: rgb(30, 30, 30);
  color: white;
}

.jumbotron {
  background-color: rgb(30, 30, 30);
  color: rgb(255, 255, 255);
}

.dropdown-item:hover {
  background-color: rgb(127, 117, 117);
}

.dropdown-menu {
  color: white;
  background-color: rgb(33, 37, 41)
}
.dropdown-item {
  color: white;
}