.container {
  margin: 20px;
}

.row {
  padding: 50px;
}

.index-page {
  background-color: rgb(30, 30, 30);
  color: white;
}

.game-page {
  background-color: whitesmoke;
}

.end-page {
  background-color: rgb(30, 30, 30);
  color: white;
}

.game-page {
  background-color: rgb(30, 30, 30);
  color: white;
}

.jumbotron {
  background-color: rgb(30, 30, 30);
  color: black;
}
